header{
    background-color:#004ea8;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 100px;
    width:85%;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    transition: height 0.2s, width 0.2s;
    max-width: 100vw;
}

.rightside{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    overflow-x: hidden;
}

.leftside{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    border-bottom: hotpink transparent 5px;
    transition: all 0.4s ease;
}
.leftside img{
    width:100px;
    height:100px;
    max-width:100%;
}
.leftside{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
}
.leftside div:first-of-type{
    background-color:#1174e9;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    transition: transform 0.4s ease;    box-sizing: border-box; 
    min-width: 0;
    max-width: 100%;
}
.leftside div:nth-of-type(2){
    background-color:#1ec9c3;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    transition: transform 0.4s ease;
    box-sizing: border-box;
    min-width: 0;
    max-width: 100%;
}
.leftside div:nth-of-type(3){
    background-color: #d1e752;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    transition: transform 0.4s ease;
    box-sizing: border-box;
    min-width: 0;
    max-width: 100%;
}
.leftside div:nth-of-type(4){
    background-color: #ffac5b;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    transition: transform 0.4s ease;
    box-sizing: border-box;
    min-width: 0;
    max-width: 100%;
}
.leftside div:nth-of-type(5){
    background-color: #9c6cdf;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    transition: transform 0.4s ease;
    box-sizing: border-box;
    min-width: 0;
    max-width: 100%;
}
.leftside div:last-of-type{
    background-color: #fb7171;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    transition: transform 0.4s ease;
    box-sizing: border-box;
    min-width: 0;
    max-width: 100%;
}
.leftside div:hover {
    box-shadow:0 0 24px white;
    box-sizing: border-box;
    transform: scale(1.05);
    min-width: 0;
    max-width: 100%;
}
header div{
    display:flex;
    align-items:center;
    margin:0px; 
    height: 100%;
    overflow: visible;
}
header div a{
    color:white;
    text-decoration:none;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
}
header img{
    height:24px;
    max-width: 100%;
}



body {
    margin: 0px;
    background-image: url("https://raw.githubusercontent.com/kmreyes2029/Lingat-Reyes-Samson_SA/refs/heads/main/unnamed.webp");
}
.map {
    margin-top: 50px;
    font-size: 120%;
    background-color: #d1e752;
    padding: 15px;
    font-family: "nunito", sans-serif;
    box-shadow: 2px 3px 2px 2px #ffac5b;
}
.righty img{
    margin-right: 67px;
    float: right;
    width: 300px;
    height: 200px;
    margin-left: 100px;
    border-radius: 25px;
    border: rgb(136, 26, 26) solid 3px;
    transition: all 0.4s ease;
}
.righty img:active{
  transform: translateX(-67px) scale(1.8);
}
.righty img:hover{
    cursor: zoom-in;
}
.lefty  {
    margin-left: 67px;
}
.PD {
    margin-top: 20px;
    font-family: "nunito", sans-serif;
    font-size: 120%;
    background-color:#ffac5b ;
    padding: 15px;
    box-shadow: 2px 3px 2px 2px #f34f4f;
}
.CLS {
    margin-top: 20px;
    font-family: "nunito", sans-serif;
    font-size: 120%;
    background-color:#f34f4f;
    padding: 15px;
    box-shadow: 2px 3px 2px 2px #1ec9c3;
}
.HS {
    margin-top: 20px;
    font-family: "nunito", sans-serif;
    font-size: 120%;
    background-color:#1ec9c3;
    padding: 15px;
    box-shadow: 2px 3px 2px 2px #d1e752;
    margin-bottom: 100px;
}

@media (max-width: 820px) {

header{
    width: 95%;
    height: 80px;
    }
.leftside img {
    width: 70px;
    height: 70px;
    }
header div a {
        padding-left: 16px;
        padding-right: 16px;
        font-size: 15px;
    }
    .map, .PD, .CLS, .HS {
        padding: 20px;
    }
    .righty img {
        float: none;
        width: 100%;
        max-width: 500px;
        height: auto;
        margin: 10px 0px;
    }
    .lefty {
        margin-left: 0px;
    }
    .PD .righty {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
    .PD .righty img {
        max-width: 45%;
    }
}
@media (max-width: 375px) {
    header {
        height: 60px;
        width: 98%; 
        flex-wrap: wrap;
    } 
    .leftside {
        flex-wrap: wrap; 
    }
    .leftside img { 
        width: 50px;
        height: 50px; 
    }
    .leftside div a {
        padding-left: 8px; 
        font-size: 12px; 
        padding-right: 8px; 
    }
    .rightside {
        width: 100%;
    } 
    .map, .PD, .CLS, .HS { 
        padding: 15px; 
    }
    .righty img {
        height: auto; 
        width: 100%; 
        margin: 8px 0;    
        float: none;
    }
    .righty img:active {
        transform: scale(1.2); 
    }
    .lefty {
        margin-left: 0; 
    }
    .PD .righty {
        flex-direction: column; 
    }
    .PD .righty img {
        max-width: 100%; 
    }
}




