header{
    background-color:#004ea8;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 100px;
    width:85%;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    transition: height 0.2s, width 0.2s;
    max-width: 100vw;
}

.rightside{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    overflow-x: hidden;
}

.leftside{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    border-bottom: hotpink transparent 5px;
    transition: all 0.4s ease;
}
.leftside img{
    width:100px;
    height:100px;
    max-width:100%;
}
.leftside{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
}
.leftside div:first-of-type{
    background-color:#1174e9;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    transition: transform 0.4s ease;    box-sizing: border-box; 
    min-width: 0;
    max-width: 100%;
}
.leftside div:nth-of-type(2){
    background-color:#1ec9c3;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    transition: transform 0.4s ease;
    box-sizing: border-box;
    min-width: 0;
    max-width: 100%;
}
.leftside div:nth-of-type(3){
    background-color: #d1e752;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    transition: transform 0.4s ease;
    box-sizing: border-box;
    min-width: 0;
    max-width: 100%;
}
.leftside div:nth-of-type(4){
    background-color: #ffac5b;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    transition: transform 0.4s ease;
    box-sizing: border-box;
    min-width: 0;
    max-width: 100%;
}
.leftside div:nth-of-type(5){
    background-color: #9c6cdf;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    transition: transform 0.4s ease;
    box-sizing: border-box;
    min-width: 0;
    max-width: 100%;
}
.leftside div:last-of-type{
    background-color: #fb7171;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    transition: transform 0.4s ease;
    box-sizing: border-box;
    min-width: 0;
    max-width: 100%;
}
.leftside div:hover {
    box-shadow:0 0 24px white;
    box-sizing: border-box;
    transform: scale(1.05);
    min-width: 0;
    max-width: 100%;
}
header div{
    display:flex;
    align-items:center;
    margin:0px; 
    height: 100%;
    overflow: visible;
}
header div a{
    color:white;
    text-decoration:none;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
}
header img{
    height:24px;
    max-width: 100%;
}





body {
        margin: 0px;
    }
    .desc {
        display: flex;
        font-family: "nunito", sans-serif;
        margin-top: 85px;
        margin-bottom: 45px;
        font-weight: 400;
        align-items: center;
    }
    .lefty img{
        height: 350px;
        margin-left: 100px;
        border-radius: 25px;
        border: grey solid 3px;
        transition: all 0.4s ease;
        background-color: white;
        box-sizing: border-box;
        overflow: hidden;
    }
    .leftysmally {
        font-family: 'expletus sans';
        opacity: 1;
        text-align: center;
        margin-left: 90px;
        transition: all 0.4s ease;
    }
    .lefty img:hover{
        box-shadow: 0 0 12px hotpink;
        color: white;
        border-color: hotpink;
        transform: scale(1.02);
    }
    .righty {
        margin-left: 80px;
        margin-right: 70px;
        font-size: 150%;
        margin-bottom: 70px;
        font-family: 'montserrat';
    }
    .righty strong:first-of-type{
        color: red;
        font-size: 155%;
    }
    .righty p:nth-of-type(2) strong:first-of-type{
        text-decoration: underline;
        text-decoration-thickness: 2px solid;
        text-underline-offset: 5px;
    }
    .righty p:nth-of-type(2) i:first-of-type{
        color: #cde449;
        font-size: 135%;
    }
    .righty p:nth-of-type(2) i:nth-of-type(2){
        color: #279e9a;
        font-size: 135%;
    }
    .righty p:nth-of-type(2) i:nth-of-type(3){
        color: #f34f4f;
        font-size: 135%;
    }
    .vamos h1{
        font-family: Corinthia;
        padding: 10px;
        color: red;
        font-size: 120px;
        font-weight: bolder;
        text-align: center;
        border-top: 3px solid #fd68a4;
        background: linear-gradient(to bottom, #fd7ab1, #ffd8e5, #ffffff);
    }





     .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        max-width: 1340px;
        margin: auto;
    }
    .grid h2{
        font-family: 'expletus sans', montserrat;
    }
    .bottomgrid h2{
        font-family: 'expletus sans', montserrat;
    }
    .grid p{
        font-family: 'expletus sans', montserrat;
        font-size: larger;
    }
    .bottomgrid p{
        font-family: 'expletus sans', montserrat;
        font-size: larger;
    }
    .bottomgrid {
        margin-top: 35px;;
        display: grid;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
    }
    .card {
        opacity: 0.95;    
        border-radius: 12px;
        padding: 20px;
        box-shadow: 4px 4px 12px rgba(0,0,0,0.3);
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease, box-shadow 0.3s;
        overflow: hidden;
        position: relative;
    }
    .grid .card:first-of-type{    
        background: #f34f4f;
    }
    .grid .card:nth-of-type(2){    
        background: #ffac5b;
    }
    .grid .card:nth-of-type(3){    
        background: #cde449;
    }
    .bottomgrid .card{
        background: #004ea8;
    } 
    .card:hover {
        transform: scale(1.05);
        box-shadow: 6px 6px 20px hotpink;
        opacity: 1;
    }
    .card img {
        width: 100%;
        border-radius: 10px;
    }
    .link {
        position: absolute;
        z-index: 1;
        inset: 0;
    }
    .fade-gradient-bg {
        height: 975px;
        background-image: 
        linear-gradient(to top, rgba(255, 255, 255, 0),  rgba(255, 255, 255, 0), rgba(255, 255, 255, 0),rgba(255,255,255,1)),
        url("https://raw.githubusercontent.com/kmreyes2029/Lingat-Reyes-Samson_SA/refs/heads/main/unnamed.webp");
        background-size: cover;
        background-position: center;

    }
    @media (max-width: 820px) { 
    header{
        width: 95%; 
        height: 80px;
        border-radius: 40px; 
    }
    .leftside img {
        width: 70px; 
        height: 70px;
    }
    header div a {
        padding-left: 16px; 
        padding-right: 16px; 
        font-size: 15px;
    }
    .desc{
        flex-direction: column;
        margin-top: 50px; 
        margin-bottom: 30px;
        padding: 0 20px; 
    }
    .lefty img {
        height: 280px;
        margin-left: 0px;
        width: 100%;
        max-width: 500px;
    }
    .leftysmally {
        margin-left: 0;
        margin-top: 15px;
    }
    
    .leftysmally h1 {
        font-size: 24px;
    }
    .righty {
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
        font-size: 120%;
        padding: 0px 20px;
    }
    .vamos h1 {
        font-size: 80px;
        padding: 8px;
    }
    .grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 0 20px;
    }
    .bottomgrid {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        padding: 0 20px;
    }
    .fade-gradient-bg {
        height: auto;
        min-height: 800px;
        padding-bottom: 50px;
    }
}
@media (max-width: 375px) {

    header{
        width: 98%;
        height: 60px;
        border-radius: 30px;
        flex-wrap: wrap;
    }
    .leftside {
        flex-wrap: wrap;
        width: 100%;
    }
    .leftside img{
        width: 50px;
        height: 50px;
    } 
    .leftside div { 
        flex: 1 1;
        flex-basis: auto;
        min-width: 0;
    }
    .leftside div a {
        padding-left: 8px;
        padding-right: 8px;
        font-size: 12px;
    }
    
    .rightside {
        width: 100%;
        margin-top: 5px;
}
    .rightside div {
        width: 100%;
    }
    .rightside div a {
        padding: 8px;
        font-size: 12px;
    }
    .desc {
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 20px;
        padding: 0 15px;
    }
    .lefty img {
        height: 200px;
        margin-left: 0;
        width: 100%;
        border-radius: 15px;
    }
    .leftysmally {
        margin-left: 0px;
        margin-top: 10px;
    }
    .leftysmally h1 {
        font-size: 18px;
    }
    .righty {
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 100%;
        padding: 0 10px;
    }
    .righty strong:first-of-type {
        font-size: 120%;
    }
    .righty p:nth-of-type(2) i:first-of-type {font-size: 115%; }
    .righty p:nth-of-type(2) i:nth-of-type(2) { font-size: 115%;}
    .righty p:nth-of-type(2) i:nth-of-type(3) { font-size: 115%; }
    
    .vamos h1 {
        font-size: 50px;
        padding: 5px;
    }
    .grid {
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 0 18px;
    }
    .grid p {
        font-size: 16px;
    }
    .grid h2:nth-of-type(3) {
        font-size: 90%;
    }
    .bottomgrid p {
        font-size: 16px;
    }
    .bottomgrid {
        max-width: 100%;
        padding: 0px 15px;
        margin-top: 20px;
    }
    
    .card {
        padding: 15px;
    }
    .fade-gradient-bg {
        height: auto;
        min-height: 600px;
        padding-bottom: 30px;
    }
     header {
        min-height: 48px;
        border-radius: 12px;
        width: 99vw;
        max-width: 99vw;
        flex-direction: column;
        align-items: stretch;
    }
    .header-left,
    .header-right {
        width: 100%;
        height: 36px;
    }
    .leftside img {
        width: 40px;
        height: 40px;
    }
}
